<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <div class="container">
  <input id="userEmaild"
                   type="email"
                   placeholder="User Email"
                   ngModel
                   name="userEmail"
                   required
                   #userEmail="ngModel"
                   class="form-control">


                  <div *ngIf="!userEmail.valid && !userEmail.pristine">
                    <div *ngIf="userEmail.hasError('required')" class="alert alert-danger">
                      Field is required
                    </div>
                  </div>
   <br/>
   <input id="passwordId"
                   type="password"
                   placeholder="Password"
                   ngModel
                   name="password"
                   required
                   maxlength="6"
                   #password="ngModel"
                   required
                   class="form-control">
                   <div *ngIf="!password.valid && !password.pristine">
                    <div *ngIf="password.hasError('required')" class="alert alert-danger">
                      Password is required
                    </div>
                  </div>
   <br/>
   <input type="submit" value="submit" [disabled]="loginForm.invalid">
   </div>
</form>



